body {
    background: rgb(176, 149, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;


}

#grid {

    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(11, 50px);
    gap: 2px;

}



/* #grid>div {
    position: absolute;
    height: 4vw;
} */

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell_1 {
    background-color: #000;
}

.cell_2 {
    background-color: #fff;
}

.cell_3 {
    background-color: #f00;
}

.cell_4 {
    background-color: #00f;
}

.cell_5 {
    background-color: #0f0;
}